<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>game</title>
</head>
<body>
    <script>
        var wsroot = "localhost:5000/ws";
        var SOCKET;

        function handleSockets() {
            var webSocketProtocol = location.protocol == "https:" ? "wss:" : "ws:";
            var webSocketURI = webSocketProtocol + "//" + wsroot;
            socket = new WebSocket(webSocketURI);
            socket.onopen = function () {
                console.log("Connected.");
            };
            socket.onclose = function (event) {
                if (event.wasClean) {
                    console.log('Disconnected.');
                } else {
                    console.log('Connection lost.'); // for example if server processes is killed
                }
                console.log('Code: ' + event.code + '. Reason: ' + event.reason);
            };
            socket.onmessage = function (event) {
                console.log(event.data);
                receive(event.data);
            };
            socket.onerror = function (error) {
                console.log("Error: " + error.message);
            };

            document.getElementById("btn").onclick = function () {
                var inp = document.getElementById("input");
                socket.send(inp.value);
                inp.value = "";
            };
        }

        function receive(message) {
            var root = document.getElementById("chatBox");
            var node = document.createElement("p");
            node.innerHTML = message;
            root.appendChild(node);
        }


    </script>


    <input id="input" type="text" /><br />
    <button id="btn">SEND</button>

    <div id="chatBox"></div>

    <script>
        handleSockets();
    </script>
</body>
</html>